

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

#front_page_image { height: 640px; overflow: hidden; }

.carousel-inner { text-align: center }

.carousel .item > img { display: inline-block; margin-top: 30px }

/* Make link text black instead of blue. */
a {
  color: #000000;
}

a:hover {
  color: #000000;
}

/* Change the active element in the right hand navbar to grays. */
.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #888888;
}

.nav .nav-header {
  text-transform: none;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 0.05em;
  text-indent: -0.5em;
  font-size: 21px;
  line-height: 27px;
  color: #888888;
}

/* Gallery settings */

.gallery-header {
	padding-bottom: 25px;
}

.thumbnail {
	/* Turn off the various border features in the thumbnails. */
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.thumbnail .caption {
	/* Set the weight and spacing for caption text in thumbnails. */
	line-height: 1.25em;
	font-weight: inherit;
	padding-left: 0.5em;
	font-size: 1em;
}

.thumbnail h4 {
	padding-top: 1em;
	padding-left: 0.5em;
}

/* About… page */

.about_navbar {
	fixed: top;
}