---
title: Curriculum Vitae
---

%p

%h3.section_title Exhibitions

%ul
  %li
    %span.year 2014
    Juried into Americas 2014: All Media, Northwest Art Center, Minot State University, ND.
  %li
    %span.year 2014
    Juried into the 7th Horizontal Grandeur exhibition of Stevens County Historical Society (SCHS), Stevens County Historical Museum, Morris, MN.
  %li
    %span.year 2014
    Art on the Edge, the 10th Annual Juried Exhibition of the Edge Center Gallery, Bigfork, MN.
  %li
    %span.year 2014
    Small Works, Women's Art Resources of Minnesota (WARM) members exhibition.
  %li
    %span.year 2014
    Portrait of an Artist: A Collaboration, with photographer Nic McPhee, Prairie Renaissance Cultural Alliance Gallery (PRCA), Morris, MN.
  %li
    %span.year 2013
    The College of St. Benedict and Women's Art Resources of Minnesota (WARM), Celebrating Women, members juried exhibition.
  %li
    %span.year 2013
    11th Annual National Juried Exhibit, Art Source Gallery, Boise, ID.
  %li
    %span.year 2013
    7th Majestic National Juried Competition, Majestic Galleries of Nelsonville, OH.
  %li
    %span.year 2013
    Art on the Edge, the 9th Annual Juried Exhibition of the Edge Center Gallery, Bigfork, MN.
  %li
    %span.year 2013
    Juried into the 6th Horizontal Grandeur exhibition of Stevens County Historical Society (SCHS), Stevens County Historical Museum, Morris, MN.

  %li
    %span.year 2013
    Juried into the Women's Art Resources of Minnesota (WARM) 40th anniversary exhibition.
  %li
    %span.year 2013
    Juried into University of Minnesota, Morris’ Local Colour. Humanities and Fine Arts Gallery, University of Minnesota, Morris.
  %li
    %span.year 2013
    The Four By Six Postcard Exhibition, Colorado Mesa University in Grand Junction, Colorado.
  %li
    %span.year 2012
    Juried into Look at Art, a Women's Art Resources of Minnesota (WARM) show.
    An image of my piece was used in the publicity for the show.
  %li
    %span.year 2007
    Juried into the First annual Horizontal Grandeur exhibition of the
    Stevens County Historical Society, Stevens County Historical Museum, Morris, MN.
  %li
    %span.year 2004–2003
    Art from Poetry Exhibit. An exhibit of visual art inspired by the poetry of
    Athena Kildegaard. My contribution was an art book titled <em>Wavelength</em>.
    First exhibited at the Lake Region Arts Council Gallery Fergus Falls, MN, and
    travelled on to the Prairie Renaissance Cultural Centre, Morris, MN.
  %li
    %span.year 2004–2003
    Work exhibited in conjunction with other artists. Common Cup, Morris, MN.
  %li
    %span.year 2004
    Solo show of art books and prints, Prairie Renaissance Cultural Alliance Gallery, Morris, MN.
  %li
    %span.year 2003
    Accepted into the annual Women's Art Resources of Minnesota (WARM) show.
  %li
    %span.year 2002
    Second Annual Juried Art Show, Second Floor Gallery, Central Square, Glenwood, MN.
  %li
    %span.year 2000
    Juried into the annual Women's Art Resources of Minnesota (WARM) show.

%h3.section_title Publications

%ul
  %li
    %span.year 2014
    Poetry published in the Lake Regsion Review IV anthology.
  %li
    %span.year 2013
    Poetry published in the Lake Region Review III anthology.
  %li
    %span.year 2012
    An image of my piece, <em>Hairball</em>, was used in the publicity for the show Look at Art,
    a Women's Art Resources of Minnesota (WARM) show.
  %li
    %span.year 2012
    Poetry accepted in the Lake Region Review II anthology.
  %li
    %span.year 1999–2001
    First Year Seminar (FYS) Reader. A compendium of stories, poems articles and
    other documents selected by the FYS faculty and published by the University of
    Minnesota, Morris. Two of my drawings were chosen as illustrations from a pool of submissions.

%h3.section_title Awards and Collections

%ul
  %li
    %span.year 2014
    Merit Award for the piece <em>In a Time of Drought</em> at Americas 2014: All Media, Northwest Art Center,
    Minot State University, ND.
  %li
    %span.year 2013
    Award of Excellence for the piece <em>Swallow</em> at Art on the Edge, the 9th Annual Juried Exhibition at the
    Edge Center Gallery, Bigfork, MN.
  %li
    %span.year 2002
    Received a merit award from the Second Annual Juried Art Show, Second Floor Gallery, Central Square, Glenwood, MN.
  %li
    %span.year 2000
    First recipient of the Rodney A. Briggs Library Purchase Award. Rodney A. Briggs Library, University of Minnesota, Morris.
