%header
  %nav{:class => "top-bar"}
    %ul
      %li{:class => "name"}
        %h1
          %a{:href => "/"} Susan Gilbert
      %li{:class => "toggle-topbar"}
        %a{:href => "#"}
    
    %section
      %ul{:class => "left"}
        %li
          %a{:href => "#"} First link
        %li
          %a{:href => "#"} Second link
        %li
          %a{:href => "#"} Third link
        %li{:class => "has-dropdown"}
          %a{:href => "#"} About
          %ul{:class => "dropdown"}
            %li
              %a{:href => "#"} Artist statement
            %li
              %a{:class => "active", :href => "#"} CV
            %li
              %a{:href => "#"} Biography
            %li
              %a{:href => "#"} Bibliography
