%nav.top-bar{ :role => 'navigation', 'data-topbar' => true }
  %ul.title-area
    %li.name
      %h1= link_to "Susan Gilbert", "/"
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.left
      %li.divider
      %li= link_to "Home", "/"
      %li.has-dropdown
        -#= link_to "About", "#"
        %li= link_to "CV", "/about/CV.html"
        -#%ul.dropdown
        -#  %li= link_to "Artist statement", "/about/artist_statement.html"
        -#  %li= link_to "CV", "/about/CV.html"
        -#  %li= link_to "Biography", "/about/biography.html"
        -#  %li= link_to "Bibliography", "/about/bibliography.html"
      -#%li= link_to "Contact", "/contact"

-# I might want to use http://getsimpleform.com as a way to handle Sue's contact form?

.row
  .panel
    %h1.gallery-header Susan Gilbert
    %p Artist, poet, and maker of cool things
