.row
  .twelve.columns
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            %a{:href => "/"} Susan Gilbert
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span Menu
      %section.top-bar-section.menu-icon
        %ul.left
          %li.divider
          %li
            %a{:href => "#"} Home
          %li.has-dropdown
            %a{:href => "#"} Galleries
            %ul.dropdown
              %li
                %a{:class => "active", :href => "galleries/metal.html"} Metal
              %li
                %a{:href => "galleries/hair.html"} Hair
              %li
                %a{:href => "galleries/books.html"} Books
        %ul.right
          %li.has-dropdown
            %a{:href => "#"} About
            %ul.dropdown
              %li
                %a{:href => "about/artist_statement.html"} Artist statement
              %li
                %a{:class => "active", :href => "about/CV.html"} CV
              %li
                %a{:href => "about/biography.html"} Biography
              %li
                %a{:href => "about/bibliography.html"} Bibliography
          %li
            %a{:href => "#"} Contact
