---
title: Susan Gilbert
subtitle: Artist, poet, and maker of cool things
---

.row
  .large-12.columns
    .panel
      %h1{:class => "gallery-header"}= data.page.title
      %p= data.page.subtitle
      %ul{"data-orbit" => true, "data-options" => "timer_speed:2500;"}
        %li
          %img{:src => "http://farm6.staticflickr.com/5097/5463380357_04bdba2f5d_z.jpg"}
          .orbit-caption
            Hairball
        %li
          %img{:src => "http://farm1.staticflickr.com/9/14152989_df78bbe53b_z.jpg"}
          .orbit-caption
            Nifty book
        %li
          %img{:src => "http://farm8.staticflickr.com/7057/6803624658_a098ea2120_z.jpg"}
          .orbig-caption
            Felted hair
