---
title: Susan Gilbert
subtitle: Artist, poet, and maker of cool things
---

.row
  .panel
    %h1.gallery-header= data.page.title
    %p= data.page.subtitle

    %ul.flex-container
      %li.flex-item
        %a.flex-gallery-image{ :href => "https://farm6.staticflickr.com/5097/5463380357_5e26dcf850_o.jpg"}
          %img.gallery-x-image{:src => "http://farm6.staticflickr.com/5097/5463380357_04bdba2f5d_m.jpg", :title => "METAL!"}
      %li.flex-item
        %a.flex-gallery-image{ :href => "http://farm1.staticflickr.com/9/14152989_df78bbe53b_o.jpg"}
          %img.gallery-x-image{:src => "http://farm1.staticflickr.com/9/14152989_df78bbe53b_m.jpg"}
      %li.flex-item
        %a.flex-gallery-image{ :href => "https://farm8.staticflickr.com/7057/6803624658_4bdf03e051_o.jpg"}
          %img.gallery-x-image{:src => "http://farm8.staticflickr.com/7057/6803624658_a098ea2120_m.jpg"}
      %li.flex-item
        %a.flex-gallery-image{ :href => "https://farm8.staticflickr.com/7281/8741869019_b7532be8ec_o.jpg"}
          %img.gallery-x-image{:src => "https://farm8.staticflickr.com/7281/8741869019_562dd27ff1_m.jpg"}

      %li.flex-item
        %a.flex-gallery-image{ :href => "https://farm6.staticflickr.com/5097/5463380357_5e26dcf850_o.jpg"}
          %img.gallery-x-image{:src => "http://farm6.staticflickr.com/5097/5463380357_04bdba2f5d_m.jpg", :title => "METAL!"}
      %li.flex-item
        %a.flex-gallery-image{ :href => "https://farm8.staticflickr.com/7057/6803624658_4bdf03e051_o.jpg"}
          %img.gallery-x-image{:src => "http://farm8.staticflickr.com/7057/6803624658_a098ea2120_m.jpg"}
      %li.flex-item
        %a.flex-gallery-image{ :href => "https://farm8.staticflickr.com/7281/8741869019_b7532be8ec_o.jpg"}
          %img.gallery-x-image{:src => "https://farm8.staticflickr.com/7281/8741869019_562dd27ff1_m.jpg"}
      %li.flex-item
        %a.flex-gallery-image{ :href => "http://farm1.staticflickr.com/9/14152989_df78bbe53b_o.jpg"}
          %img.gallery-x-image{:src => "http://farm1.staticflickr.com/9/14152989_df78bbe53b_m.jpg"}

      %li.flex-item
        %a.flex-gallery-image{ :href => "http://farm1.staticflickr.com/9/14152989_df78bbe53b_o.jpg"}
          %img.gallery-x-image{:src => "http://farm1.staticflickr.com/9/14152989_df78bbe53b_m.jpg"}
      %li.flex-item
        %a.flex-gallery-image{ :href => "https://farm6.staticflickr.com/5097/5463380357_5e26dcf850_o.jpg"}
          %img.gallery-x-image{:src => "http://farm6.staticflickr.com/5097/5463380357_04bdba2f5d_m.jpg", :title => "METAL!"}
      %li.flex-item
        %a.flex-gallery-image{ :href => "https://farm8.staticflickr.com/7057/6803624658_4bdf03e051_o.jpg"}
          %img.gallery-x-image{:src => "http://farm8.staticflickr.com/7057/6803624658_a098ea2120_m.jpg"}
      %li.flex-item
        %a.flex-gallery-image{ :href => "https://farm8.staticflickr.com/7281/8741869019_b7532be8ec_o.jpg"}
          %img.gallery-x-image{:src => "https://farm8.staticflickr.com/7281/8741869019_562dd27ff1_m.jpg"}
